# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in
csx/
rcf/
[Oo]bj
logistics/bin
.vs/

#User-specific files
*.suo
*.csproj.user
*.ccproj.user
*.sln.DotSettings.user
*.pubxml.user
*.dbmdl

#NCrunch
_NCrunch*
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.ncrunchproject.user

#Vim backup files
*~

#MS Office Backup Files
~*

#Resharper files
_ReSharper.*
*.resharper
*.resharper.user

# Rider
**/.idea/**

# VS Code
**/.vscode/**

#Others
*.cache
*.orig
*.original

#Packages
**/App_Packages/
packages/
/*.dll
/*.pdb
/*.XML

/**/publish/
/**/*.nupkg

#nDevConfig
.workspaceInitialized
nDevConfig/

#Database Project Files
application/EdFi.Ods.Entities.NHibernate/DescriptorMigration.sql
application/EduId.Database/EduId.Database.dbmdl

#Release Notes Working File
ReleaseNotes/pending.md

#File System Queues
MessagingQueueData

application/EdFi.Ods.BulkLoad.Core/*.dll
application/EdFi.Ods.BulkLoad.Core/*.pdb

credentials-*.xml

#lib directory
libs/
libs.codegen/

#Generated code
*.generated.cs
*.generated.txt
*.generated.sql
*.generated.resx
*.generated.json
*.hbm.xml
**/Metadata/types/*.json
**/Metadata/resources/*.json
**/Metadata/descriptors/*.json
*.ncrunchsolution
/Application/*.ncrunchsolution
/Application/*.DotSettings
/Application/msbuild.log

#ExtensionProjects
Extensions/**/MetaEdOutput/
Extensions/**/MetaEdOutput-Experimental/

#ConfigCredentials
Application/EdFi.Ods.Admin.Web/AdminCredential.config
Application/EdFi.Ods.SwaggerUI/SwaggerCredential.config

#PopulatedTemplate
PopulatedTemplate/*
!PopulatedTemplate/Scripts/

# codegen
EdFi\.CodeGen\.log
tools/*
